<button (click)="addProject()" type="button">Add a Project</button>
<button (click)="exportToExcel()" type="button">Export to Excel</button>
<app-project-search></app-project-search>
<h3 class="align-right">
  <span *ngIf="service.visibleProjects.length !== service.allProjects.length">Showing <em>{{service.visibleProjects.length}}</em> of </span>
  <em>{{service.allProjects.length}}</em> Projects
</h3>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Division</th>
      <th>Owner</th>
      <th>Budget</th>
      <th>Status</th>
      <th>Created</th>
      <th>Modified</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let vm of service.visibleProjects">
      <tr *ngIf="vm.state==='view'">
        <td>{{vm.project.title}}</td>
        <td>{{vm.project.division}}</td>
        <td>{{vm.project.project_owner}}</td>
        <td>{{vm.project.budget | currency}}</td>
        <td>{{vm.project.status}}</td>
        <td>{{vm.project.created}}</td>
        <td>{{vm.project.modified}}</td>
        <td>
          <button (click)="vm.toggle()" type="button">Edit</button>
          <button (click)="details(vm)" type="button">Details</button>
        </td>
      </tr>
      <tr *ngIf="vm.state==='form'">
        <td>{{vm.project.title}}</td>
        <td>{{vm.project.division}}</td>
        <td>
          <input type="text" [(ngModel)]="vm.project.project_owner" />
        </td>
        <td>
          <input type="number" [(ngModel)]="vm.project.budget" />
        </td>
        <td>
          <input type="text" [(ngModel)]="vm.project.status" />
        </td>
        <td>{{vm.project.created}}</td>
        <td>{{vm.project.modified}}</td>
        <td>
          <button (click)="close(vm)" type="button">Done</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">Total</td>
      <td>{{service.budgetTotal | currency}}</td>
      <td colspan="4">&nbsp;</td>
    </tr>
  </tfoot>
</table>